@{
    ViewData["Title"] = "Privacy Policy";
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gizlilik Politikamız</title>
</head>
<body>
    <div id="privacy-policy">
        <h1>Gizlilik Politikamız</h1>
        <p>Bu site, Kırklareli Üniversitesi öğrencileri tarafından bitirme projesi olarak geliştirilmiş bir projedir. Amacı, kullanıcıların kişisel bilgilerinin gizliliğini korumak ve güvenliğini sağlamaktır. Projemizin temel hedefi, siz değerli kullanıcılarımızın çevrimiçi deneyimlerini en güvenli şekilde sağlamaktır. Gizlilik politikamız, kişisel verilerinizin nasıl işlendiği ve korunduğu hakkında detaylı bilgi sunmaktadır.</p>
    </div>
</body>
</html>
